[Desktop Entry]
Name=PaintTool SAI
Type=Application
Exec=sh -c "cd ~/.wine/drive_c/PaintToolSAI/; wine-development sai.exe"
StartupWMClass=sai.exe
Icon=sai.png
Terminal=false
Categories=Wine;
StartupNotify=true

